{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container py-5">
<h1>Все посты пользователя: {{ author }}</h1>
  <h3>Всего постов: {{ post_count }}</h3>
    {% for post in page_obj %}
      <ul>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul> 
      <p>
        {{ post.text|linebreaksbr}}
      </p>
      {% if post.author %}
        <a class="btn btn-primary" href="{% url 'posts:post_detail' post.pk %}">
          Подробная информация
        </a>
      {% endif %}
      {% if post.group %}
        <a class="btn btn-primary" href="{% url 'posts:group_list' post.group.slug %}">
          Все записи группы
        </a>
      {% endif %}
      {% if request.user == post.author %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
          Редактировать запись
        </a>
      {% endif %}
      {% if not forloop.last %}
      <hr>
      {% endif %}
    {% endfor %}
  {% include "posts/includes/paginator.html" %}
</div>
{% endblock %}